/* this comment isn't helpful */

html, body {
  background-color: #333;
  color: #ffffff;
  font-family: 'Roboto','Lato','Open Sans',sans-serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

li {
  display: inline-block;
}

#topnav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#topnav li a {
  display: block;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  transition: background-color 0.2s;
}

#topnav li a:hover {
  background-color: #ffffff;
  color: #1c1c1c;
}

#topnav li a p {
  margin: 0 0 0 0;
}

@media only screen and (max-width: 360px) {
  div.desc {
    margin: 1px;
  }
  div.alert {
    margin-right: 1px;
    margin-left: 1px;
  }
}

.alert {
  opacity: 1;
  padding: 20px;
  border: 2px solid white;
  background-color: #f44336;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 18px;
}

.alertbtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alertbtn:hover {
  color: black;
}

table caption {
  font-family: "Roboto Slab","serif";
  font-weight: normal;
  padding-top: 4rem;
  font-size: 2rem;
}

table, th, td {
  border: 1px solid;
  margin: auto;
}

td, th {
  padding: 5px;
}

nav {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
  background: #1c1c1c;
}

h1 {
  font-family: "Roboto Slab",serif;
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-family: "Roboto Slab",serif;
  font-weight: normal;
  font-size: 2.6rem;
}

p {
  /*max-width: 65%;
  min-width: 65%;*/
}

p.desc {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2rem;
}

a:link {
  color: #848484;
  text-decoration: none;
}

a:visited {
  color: #848484;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: bold;
}

img {
  max-width: 50%;
  max-height: 50%;
  border: solid 1px white;
}

footer {
  position: fixed;
  z-index: 100;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #1c1c1c;
  overflow: auto;
  white-space: nowrap;
}

#social li {
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  opacity: 0.4;
  transition: opacity 0.5s;
}

#social li:hover {
  top: -3px;
  opacity: 1.0;
}

#social li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.centered {
 margin: auto;
 max-width: 100%;
 border: 1px solid;
}

div.padded {
 padding-bottom: 100px;
}

div.banner {
  display: block;
  margin-top: 150px;
}

div.banner h2 {
  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}

.banner-desc  {
  text-align: left;
  line-height: 200%;
  padding: 1%;
  margin: 1%;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.6);
}

/*
#minecraft {
  background: url("https://i.imgur.com/PfEVSTm.jpg") no-repeat center fixed;
}

#ksp {
  background: url("https://i.imgur.com/ck1vdKK.jpg") no-repeat center fixed;
}

#dst {
  background: url("https://i.imgur.com/q55nJrP.jpg") no-repeat center fixed;
}

#zomboid {
  background: url("https://i.imgur.com/ACVfPU1.jpg") no-repeat center fixed;
}

#quake {
  background: url("https://i.imgur.com/nCXRIbU.jpg") no-repeat center fixed;
}

#quake2 {
  background: url("https://i.imgur.com/xliQOco.jpg") no-repeat center fixed;
}
*/
