/* main css file used for ghostsquad57.com
 * I prefer keeping text aligned in the middle
 * I'm also fond of using a serif font for headings
 * I personally like a dark style for webpages
 * rem is used for font sizes because I find it easier to use
 * */

html, body {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.parallax {
  background-image: url("https://i.imgur.com/C8fE24U.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

.infobox {
  background-image: url("https://i.imgur.com/92nd20a.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

.infobox code {
  background: rgba(0, 0, 0, 0.7);
}

h1+p {
  text-align: left;
  font-size: 1.1rem;
  max-width: 760px;
  margin: auto;
  line-height: 140%;
}

code {
  font-family: 'VT323','monospace';
  color: #a95d72;
  font-size: 25px;
}

h1,h2,h3,h4,h5,h6 { /* I like serif fonts for headers, mka? */
  font-family: serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  padding-top: 50px;
}

h2 {
  font-size: 2.6rem;
}

a:link {
  color: #848484;
  text-decoration: none;
}

a:visited {
  color: #848484;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
}

footer {
  font-size: 1rem;
  background: black;
  padding-bottom: 7px;
  padding-top: 5px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

@font-face {
  font-family: "VT323";
  src: url("resources/vt323-regular-webfont.woff2") format("woff2"),
       url("resources/vt323-regular-webfont.woff2") format("woff");
}
