/* main css file used for ghostsquad57.com
 * I prefer keeping text aligned in the middle
 * I'm also fond of using a serif font for headings
 * I personally like a dark style for webpages
 * rem is used for font sizes because I find it easier to use
 * */

html, body {
  background-color: #333333;
  color: #ffffff;
  font-family: 'Roboto','Lato','Open Sans',sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

header {
  margin-top: 50px;
}

h1+p {
  text-align: left;
  font-size: 1.1rem;
  max-width: 760px;
  margin: auto;
  line-height: 140%;
}

.center {
  margin: auto;
}

.round {
  border: 1px solid black;
  border-radius: 256px;
  transition: border-radius 0.6s;
}

.round:hover {
  border-radius: 10px;
}

.blur:hover {
  filter: blur(3px);
}

.closebutton {
  float: right;
  font-size: 32px;
}

code {
  font-family: 'Roboto Mono','monospace';
  color: #008000;
  background: black;
  padding: 3px;
}

ul {
    list-style-type: none; /* prevents markers */
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

ul h1 {
  margin-top: 50px;
}

li {
  display: inline-block; /* display side-by-side */
}

div li a {
  display: block;
  font-size: 2rem;
  color: white; /* elements start white */
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  transition: background-color 0.2s; /* transition from color to hover color */
}

div li a:hover {
  background-color: #ffffff; /* color to change on hover of anchor elements */
  color: #1c1c1c;
}

li a p {
  margin: 0 0 0 0; /* prevents "p" elements inside the topnav li from creating newlines
                    which would make the height all screwy */
}

li img {
  margin: 25px;
}

h1,h2,h3,h4,h5,h6 { /* I like serif fonts for headers, mka? */
  font-family: "Roboto Slab",serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

p {
  /*max-width: 65%;
  min-width: 65%;*/
}

a:link {
  color: #848484;
  text-decoration: none;
}

a:visited {
  color: #848484;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
}

.textbox p {
  text-align: left;
  line-height: 200%; /* larger space between paragraphs */
  padding: 1%;
  margin: 1%;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.6);
}

/* hides the display of the server's info until "targeted" */
#ksp,#dst,#bods,#quake,#quake2,#sven {
  display: none;
}

/*
 * this is very ugly:
 * selecting every id individually until I can figure out how to select all
 */
#ksp:target {
  display: block;
}

#dst:target {
  display: block;
}

#bods:target {
  display: block;
}

#quake:target {
  display: block;
}

#quake2:target {
  display: block;
}

#sven:target {
  display: block;
}

footer {
  background: #1c1c1c;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  margin-top: 100px;
}
